.navbar {
  margin-bottom: 0;
  background: #6a3939;
}
body {
  background: #e6dede;
  color: #6a3939;
  font-family: 'Merriweather', sans-serif;
}
h1,
h2 {
  font-weight: bold;
}
p {
  font-size: 16px;
  color: #fff;
}
.jumbotron {
  background: #0048cd;
  color: white;
  text-align: center;
}
.jumbotron p {
  color: white;
  font-size: 26px;
}
.btn-primary {
  color: #fff;
  text-color: #000;
  border-color: white;
  margin-bottom: 5px;
}
img,
video,
audio {
  margin-top: 20px;
  max-width: 80%;
}
div.caption{
  float: left;
  clear: both;
}
.main-content {
  padding: 4rem 2rem;
}
